body,
html,
#root {
    background-color: #282c34;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.dashboard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: center;
    background: url('/studio.jpg') no-repeat center center;
    background-size: cover;
}
.canva {
    width: 1200px;
    height: 675px;
    background-color: aliceblue;
    border-radius: 0px 8px 8px 0px;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.2);
}

.box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
